{{!-- 
<h1>Hello</h1>
<Joke />
<h3>{{jokes.joke1.punchline}}</h3>
<ul>
<h3>{{jokes.joke1.joke}}</h3>
{{#each jokes in model}}
<li>
  <h2>{{jokes.joke}}</h2>
  <h2>{{jokes.punchline}}</h2>
</li>
{{/each}}
</ul> --}}
{{outlet}}