<ul>
{{this.model.joke}}
{{this.model.punchline}}
{{!-- {{#each model as |joke|}}
  <li>
 
    id: {{joke.id}}<br>
    {{joke.joke}}<br>
    {{joke.punchline}}
  </li>
{{/each}} --}}
</ul>


{{outlet}}
